<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foods App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C03A48552AF80A5A004BBD56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C03A48652AF80A5B004BBD56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C03A486F2AF80A5B004BBD56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
